@import './_Color';

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: $bean;
}
h2::selection {
    background: $froth;
}
h2::-moz-selection {
    background: $froth;
}

.subtitle {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .9rem;
    color: $cherry;
}

.title, h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: $bean;
}

.title {
    font-size: 3em;
    max-width: 600px;
}

.center {
    text-align: center;
}

.giant-text {
    font-size: 5rem;
}